@import '../../vuetify/VBtn/mixins';

.owd-window {
  .owd-window__nav .owd-btn {
    min-width: inherit;
    width: $owd-window-button-width;
    height: $owd-window-button-height;
    line-height: $owd-window-button-height;

    .owd-icon {
      font-size: $owd-window-button-icon-size;
    }

    &.owd-btn-minimize .owd-icon {
      font-size: 10px;
    }
  }
}