@import '../../vuetify/VBtn/mixins';

.owd-window {
  .owd-window__nav .owd-btn {
    min-width: inherit;
    width: var(--owd-window-button-width);
    height: var(--owd-window-button-height);
    line-height: var(--owd-window-button-height);

    .owd-icon {
      font-size: var(--owd-window-button-icon-size);
    }

    &.owd-btn-minimize .owd-icon {
      font-size: 10px;
    }
  }
}