.owd-desktop {
  .v-input:not(.preserve-material) {
    border: var(--owd-window-input-border);
    border-color: var(--owd-window-input-border-color);
    border-radius: var(--owd-window-input-border-radius);
    background-color: var(--owd-window-input-background);
    box-shadow: var(--owd-window-input-box-shadow);
    color: var(--owd-window-input-color);
    height: var(--owd-window-input-height);
    padding: var(--owd-window-input-padding);

    &:hover {
      border-color: var(--owd-window-input-border-color-hover);
      background-color: var(--owd-window-input-background-hover);
      box-shadow: var(--owd-window-input-box-shadow-hover);
      color: var(--owd-window-input-color-hover);
    }

    &:active {
      border-color: var(--owd-window-input-border-color-active);
      background-color: var(--owd-window-input-background-active);
      box-shadow: var(--owd-window-input-box-shadow-active);
      color: var(--owd-window-input-color-active);
    }
  }
}