@mixin btn-inactive {
  background: var(--owd-window-button-background-inactive);
  box-shadow: var(--owd-window-button-box-shadow-inactive);
  border-color: var(--owd-window-button-border-color-inactive);
  color: var(--owd-window-button-icon-color-inactive);

  &--tile,
  &--essential {
    width: var(--owd-window-button-width);
    min-width: inherit;
    padding: 0;
  }

  &__overlay {
    display: none;
  }
}

@mixin btn {
  background: var(--owd-window-button-background);
  box-shadow: var(--owd-window-button-box-shadow);
  border: var(--owd-window-button-border);
  border-color: var(--owd-window-button-border-color);
  color: var(--owd-window-button-icon-color);
  border-radius: var(--owd-window-button-border-radius);
  text-transform: initial;
  transition: none;
  font-size: var(--owd-window-button-font-size);
  letter-spacing: 0;

  &:hover {
    background: var(--owd-window-button-background-hover);
    box-shadow: var(--owd-window-button-box-shadow-hover);
    border-color: var(--owd-window-button-border-color-hover);
    color: var(--owd-window-button-icon-color-hover);
  }

  &:active {
    background: var(--owd-window-button-background-active);
    box-shadow: var(--owd-window-button-box-shadow-active);
    border-color: var(--owd-window-button-border-color-active);
    color: var(--owd-window-button-icon-color-active);
  }
}